body {
  cursor: url("/beeIcon.png"),
          url("/bee.png"), pointer;
}

.capsules-container {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url("/honeycomb.png");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.capsuleCreation {
  margin-right: 20px;
  margin-top: 20px;
  position: absolute;
  right: 0;

  img {
    width: 80px;
    height: 80px;

    &:hover {
      width: 90px;
      height: 90px;
    }
  }
}

.capsule-container {
  position: absolute;
}

.capsule-container img {
  width: 70px;
  height: 70px;

  &:hover {
    width: 80px;
    height: 80px;
  }
}